body {
    background-color: #000;
    position: relative;
    height: fit-content;
}

.center {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#canvas {
    border: 2px solid;
}